* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  height: 500vh; /* we control scroll manually later */
}

canvas {
  position: fixed;    /* no scroll with page, remains fixed*/
  top: 0;
  left: 0;
  outline: none;
}